.button {
  width: 100%;
  height: 46px;

  border-radius: 30px;
  color: #fff;
  border: none;
  outline: none;
  background: #3f59ec;
}

.button--disabled {
  opacity: 0.5;
}

.button:active {
  opacity: 0.9;
}
